$url-font: "../fonts";

$white: #fff;
$black: #000;
$dark: #1c1c24;
$dark2: #2d2d3a;
$dark3: #131419;
$blue: #29295e;
$blue2: #4447e2;
$text: #333;
$gray: #5f5f6e;
$green: #45b188;
$bg: #e5e5e5;
$bg2: #c4c4c4;
$ac: #e24444;

$md: 1279.98px;
$sm: 1023.98px;
$xs: 767.98px;
