@import "../../../assets/style/vars";

.popupThx {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 318px;
	text-align: center;

	@media (max-width: $xs) {
		height: 100%;
	}

	&__desc {
		margin-bottom: 24px;
		font-family: "Montserrat", sans-serif;
		font-size: 24px;
		line-height: 30px;
		font-weight: 600;
		color: $white;
	}

	&__icon {
		display: block;
		width: 40px;
		height: 40px;
	}
}
